* {
	border: none;
	border-radius: 0;
	font-size: 12px;
	min-height: 16px;
}

* {
	font-family: "Font Awesome 5 Free", "Font Awesome 5 Pro Solid", "Font Awesome 5 Brands";
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
    margin-top: 2px;
    padding-left: 16px;
    padding-right: 16px;
	border-radius: 22px;
	transition: none;
	/*
    color: #f8f8f2;
	background: #282a36;
    */
    color: transparent;
	background: transparent;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: #4d4d4d;
	background: #e6e6e6;
}

#workspaces {
	margin-top: 2px;
	margin-left: 12px;
	margin-bottom: 0;
	border-radius: 22px;
	background:  rgba(40,42,54,0.90); /*radial-gradient(circle, rgba(0,134,201,1) 0%, rgba(95,0,121,1) 90%);*/
	transition: none;
}

#workspaces button {
	transition: none;
	color: #f8f8f2;
	background: transparent;
	font-size: 16px;
}

#workspaces button.focused {
	color: #0086c9;
	/*border-bottom: 3px solid white;*/
	box-shadow: 0px 10px 0px -5px #ffffff; 
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ff79c6;
}

#mpd {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 22px;
	background: #282a36;
	transition: none;
	color: #4d4d4d;
	background: #5af78e;
}

#mpd.disconnected,
#mpd.stopped {
	color: #f8f8f2;
	background: #282a36;
}

#network {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 22px;
	transition: none;
	color: #4d4d4d;
	background: rgba(40,42,54,0.90);

}

#pulseaudio {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 22px;
	transition: none;
	color: #4d4d4d;
	background: rgba(40,42,54,0.90);

}

/* this does not work */
#pulseaudio:hover {
	color: #ffffff;
}

#temperature {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 22px;
	transition: none;
	color: #4d4d4d;
	background: rgba(40,42,54,0.90);

}

#temperature.critical {
	color: red;
}

#cpu {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 22px;
	transition: none;
	color: #4d4d4d;
	background: rgba(40,42,54,0.90);

}

#memory {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 22px;
	transition: none;
	color: #4d4d4d;
	background: rgba(40,42,54,0.90);

}

#battery {
	margin-top: 2px;
	margin-left: 8px;
	margin-right: 12px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 22px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
}

#clock {
	margin-top: 2px;
	margin-left: 8px;
	margin-right: 12px;
	padding-top: 4px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 22px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
}

#tray {
	margin-top: 2px;
	margin-left: 8px;
	margin-right: 12px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 22px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
}

#custom-power {
	margin-top: 2px;
	margin-left: 8px;
	margin-right: 12px;
	padding-top: 4px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 22px;
	transition: none;
	color: #ff0000;
	background: #282a36
}

window#waybar.empty {

}
